################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IntechTask/bin/Debug/netcoreapp3.1
/IntechTask/obj
/IntechTask.DesktopClient/bin/Debug/netcoreapp3.1
/IntechTask.DesktopClient/obj
